#socialMediaBox {
    width:1200px;
    height:700px;
    margin:50px auto auto;
}


.social {
    position:relative;
    text-decoration:none;
    transition:text-shadow 1s, transform 2s;
    -moz-transition:text-shadow 1s, -moz-transform 2s;
    -webkit-transition:text-shadow 1s, -webkit-transform 2s;
    -o-transition:text-shadow 1s, -o-transform 2s;
}


.social:hover {
    text-shadow:#6374AB 20px 20px 10px;
}


/* ID special media links */

#facebook {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:80px;
    color:#09F;
    top:280px;
    left:600px;
}


#twitter {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:70px;
    color:#0C9;
    top:180px;
    left:800px;
}


#linkedin {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:60px;
    color:#36C;
    top:-160px;
    left:650px;
}


#tumblr {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:30px;
    color:#404040;
    top:-240px;
    left:540px;
}


#flickr {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:50px;
    color:#C09;
    top:220px;
    left:1000px;
}


#youtube {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:30px;
    color:#C03;
    top:60px;
    left:600px;
}


#foursquare {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:40px;
    color:#369;
    top:-440px;
    left:800px;
}


#pinterest {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:50px;
    color:#F0C;
    top:-30px;
    left:520px;
}


#google {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:25px;
    color:#CC3;
    top:-70px;
    left:640px;
}


#quora {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:30px;
    color:#900;
    top:140px;
    left:960px;
}


#github {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:40px;
    color:#000;
    top:175px;
    left:920px;
}


#vimeo {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:20px;
    color:#96F;
    top:40px;
    left:750px;
}


#instagram {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:70px;
    color:#C63;
    top:-465px;
    left:740px;
}


#stanford {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:80px;
    color:#C00;
    top:180px;
    left:720px;
}


#arcadiahighschool {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:20px;
    color:#C30;
    top:-280px;
    left:720px;
}


#boyscouts {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:15px;
    color:#33F;
    top:-305px;
    left:920px;
}


#physicsteam {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:12px;
    color:#366;
    top:-410px;
    left:990px;
}


#secretbutton {
    font-family:Raleway,  Helvetica,  sans-serif;
    font-size:5px;
    color:#656565;
    top:-420px;
    left:880px;
}


